[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "ContRespPP"]
	path = ContRespPP
	url = https://github.com/jcliff89/contresppp
